@model IEnumerable<ClothesToU.BackEnd.Site.Models.ViewModels.ProdIndexVM>

@{
    ViewBag.Title = "Index";
}

<h2>後台商品維護</h2>



<form class="form-inline" action="" method="get">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                標題: <input type="text" name="name" class="form-control" value="@ViewBag.C_Name">
                描述: <input type="text" name="description" class="form-control" value="@ViewBag.C_Description">
                    <input type="submit" value="查詢" class=" btn btn-primary" style="background-color: orange;color:black; border-style: hidden; font-weight: bold;"/>
            </div>
        </div>
    </div>
</form>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BriefDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedTime)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="active">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BriefDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedTime)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                
            </td>
        </tr>
    }

</table>
