<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Clothes To U</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>
    h1 {
        font-family: 'Monotype Corsiva','Comic Sans MS',Calibri,'Lucida Bright';
        font-weight: 600;
        font-size: 10em;
        color: palevioletred;
        text-shadow: 2px 2px 2px #676767;

    }

    h4 {
        font-family: 'Lucida Bright';
        font-weight: 500;
        font-size: 2em;
        color: black;
    }
    h3 {
        font-family: 'Lucida Bright';
        font-weight: 500;
        font-size: 2em;
        color: palevioletred;
        text-shadow: 1px 1px 1px #676767;
    }
    h4 {
        font-family: 'Lucida Bright';
        font-weight: 500;
        font-size: 2em;
        color: black;
    }
    h5 {
        font-family: 'Lucida Bright';
        font-weight: 500;
        font-size: 2em;
        color: black;
    }
        body {
        color:black;
        font-weight: 300;
        background-color: pink;
    }

  
</style>
</head>
<body>
    <div class="navbar" style="background-color:lavender;color:black; border-style: hidden; font-weight: bold; ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse" style="background-color:lavender; color: black; border-style: hidden; font-weight: bold; ">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("關於我們", "About", "Home")</li>
                    <li>@Html.ActionLink("會員中心", "Index", "Members")</li>
                    <li>@Html.ActionLink("購物車", "Index", "Members")</li>
                    <li>@Html.ActionLink("註冊會員", "Register", "Members")</li>
                </ul>

                @*manually added logout button here*@
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="#">嗨 @(User.Identity.Name)</a></li>
                        <li><a href="/Members/LogOut">登出</a></li>
                    }
                    else
                    {
                        <li><a href="/Members/Login">登入</a></li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Clothes To U</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
