@model IEnumerable<ClothesToU.BackEnd.Site.Models.ViewModels.ProdIndexVM>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron;col-md-12" style="color:palevioletred">
    <h1 style="display: flex; justify-content: center;">Clothes To U</h1>
    <p class="lead"><h4 style="display: flex; justify-content: center;"> ♥️♥️♥️一個對各種身形友善的服裝品牌♥️♥️♥️</h4> </p>
    <br />

</div>
<ol class="breadcrumb" style="background-color:pink; color:black; font-weight: bold; display: flex; justify-content: center;">

    <li>@Html.ActionLink("全部商品", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("熱銷商品", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("上身", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("下著", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("洋裝", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("包包", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("內著", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("鞋款", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("飾品", "Index2", "FrontProducts")</li>


</ol>
<div class="col-md-12" style="display: flex; justify-content: center;">
    <img src="~/Files/girls.jpg" alt="">
</div>
<br />
<br />
<br />
<p>
    ♥️ ♥️ ♥️

    <br />

<a href="/FrontProducts/Index2">
    Shop now →
</a>

</p>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h3>E-mail</h3>
        <p><a class="btn btn-primary" href="">clothestou@service.com</a></p>
    </div>
    <div class="col-md-4">
        <h3>Follow us </h3>
        <p><a class="btn btn-default" href="">♥️ Instagram ♥️</a></p>
        <p><a class="btn btn-default" href="">♥️ Facebook ♥️</a></p>
        <p><a class="btn btn-default" href="">♥️ Line ♥️</a></p>
    </div>
    <div class="col-md-4">
        <h3>More</h3>
        <p><a class="btn btn-default" href="">服務條款</a></p>
        <p><a class="btn btn-default" href="">購物說明</a></p>
        <p><a class="btn btn-default" href="">退貨流程</a></p>
    </div>
</div>
