@model IEnumerable<ClothesToU.BackEnd.Site.Models.ViewModels.ProdIndexVM>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron;col-md-12" style="color:palevioletred">
    <h1>Clothes To U</h1>
    <p class="lead"><h4> ♥️♥️♥️一個對各種身形友善的服裝品牌♥️♥️♥️</h4> </p>
    <br />

</div>
<ol class="breadcrumb" style="background-color:pink;color:black;font-weight: bold;">

    <li>@Html.ActionLink("全部商品", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("熱銷商品", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("上身", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("下著", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("洋裝", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("包包", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("內著", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("鞋款", "Index2", "FrontProducts")</li>
    <li>@Html.ActionLink("飾品", "Index2", "FrontProducts")</li>


</ol>
<div class="col-md-12">
    <img src="~/Files/girls.jpg" alt="">
</div>
<br />
<br />
<br />
<p>
    ♥️ ♥️ ♥️ 
   
    <br />
    <h3>@Html.ActionLink("開 始 購 物 ♥️", "Index2", "FrontProducts")</h3>
</p>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h3>客服信箱</h3>
        <h5>
            clothestou@service.com
        </h5>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">訂閱電子報 </a></p>
    </div>
    <div class="col-md-4">
        <h3>Follow us </h3>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
